<div>
    <form onsubmit="handleSubmit(); return false;">
        <label for="task">Enter Task:</label>
        <input type="text" id="task" name="task" required>
        <button type="submit">Add Task</button>
    </form>
    <ul>
        <% todos.forEach((todo) => { %>
            <li><%= todo.task %></li>
        <% }) %>
    </ul>
</div>

<script>
    const handleSubmit = async () => {
        const response = await fetch("http://localhost:8080/todo", {
            method: "POST",
            body: JSON.stringify({ task: document.getElementById("task").value }),    
            headers:{
                "Content-Type": "application/json"
            }
        })
        const res = await response.json();
        console.log(res);
        if(res?.refresh){
            window.location.reload()
        }
    }
</script>